on: [push, pull_request]
name: lints
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        components: clippy
        override: true
    # - uses: actions-rs/clippy-check@v1
    #   with:
    #     token: ${{ secrets.GITHUB_TOKEN }}
    #     args: --features ci-check -- -D warnings
    - uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --features ci-check -- -D warnings
  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        components: rustfmt
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check
